    @{
    ViewData["Title"] = "Ürün Ekle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
﻿
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="display:flex" class="col-12 text-center justify-content-center">
    <div class="col-6">
        <form action="/UserAddress/AddressAdd/" method="post">
            <input type="text" class="mt-2 mb-2" style="width:100%;padding: 4px 10px;outline:none" name="Title" placeholder="Adres Başlığı Giriniz." required />
            <input type="text" class="mt-2 mb-2" style="width:100%;padding: 4px 10px;outline:none" name="AddressText" placeholder="Adresinizi Giriniz." required />
            <select class="mt-2 mb-2" style="width:100%;padding: 4px 10px;outline:none" name="City">
                <option value="BURSA">BURSA</option>
                <option value="ANKARA">ANKARA</option>
                <option value="İSTANBUL">İSTANBUL</option>
            </select>
            <br />
            <input class="text-center btn-success" style="padding: 4px 10px;margin-left:-10px;" type="submit" value="Ekle" />
        </form>
    </div>
</div>