
@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Elektronik Kategorisi<span style="font-size:16px;"><a href="/Product/ListCategoryProduct/4">Tümünü Göster</a></span></h1>
@await Component.InvokeAsync("ListElectronicProducts")

