<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@model int

<form action="/Cart/AddToCart/" method="post">
    <input type="hidden" name="id" value="@Model" />
    <input class="text-center btn-success" style="padding: 4px 10px;margin-left:-10px;" type="submit" value="Sepete Ekle" />
</form>