*.TopMenu {
    height: 100px;
    width: 100%;
}
.TopMenu div {
    float: left;
}
.ToggleBtn {
    display: none;
    text-align: center;
    margin-top: 40px;
}
.ToggleBtn button {
    border: none;
    background-color: white;
}
.Logo {
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
}
.searchbtn {
    display: none;
    text-align: center;
    margin-top: 40px;
}
.searchbtn button {
    border: none;
    background-color: white;
    outline: none;
}
.Searchbar {
    width: 50%;
    height: 100px;
    text-align: center;
    padding-top: 35px;
}
#searcbarhbtn {
    padding: 5px;
    width:40px;
    margin-left: -5px;
}
.Buttons {
    width: 30%;
    display: flex;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
}
#userbtn {
    padding: 10px;
    display: block;
    width: 150px;
    text-decoration: none;
}
#cartbtn {
    padding: 10px;
    display: block;
    width: 150px;
    text-decoration: none;
}

#userbtn, #cartbtn {
    display: block;
}
.PhoneSearchbar {
    display: none;
    width: 100%;
    height: 100px;
    text-align: center;
}
#inputsearch {
    border-right: none;
    width: 80%;
    display: inline-block;
    padding: 5px;
    outline: none
}
.BottomMenu {
    width: 100%;
}
#icon {
    display: none;
}
.BottomMenu ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
}
.BottomMenu a {
    width: 15%;
    text-align: center;
    padding: 5px;
    border: 1px solid white;
    background-color: green;
    color: white;   
    text-decoration: none;
}

.BottomMenu a :hover {
    color: darkorange;
}
#phoneuserbtn, #phonecartbtn {
    display: none;
}
@media screen and (min-width: 782px) {
    .PhoneSearchbar {
        display: none;
    }
}
@media screen and (max-width: 782px) {
    .Logo {
        width: 70%;
    }

    .Searchbar {
        display: none;
    }

    .PhoneSearchbar {
        width: 100%;
        margin-left: 10px;
        display: block;
    }
    .BottomMenu a {
        width: 100%;
    }

    .ToggleBtn {
        width: 15%;
        display: block;
    }

    .searchbtn {
        width: 15%;
        padding-bottom: 10px;
        display: block;
        float: right;
    }

    #userbtn, #cartbtn {
        display: none;
    }

    #phoneuserbtn, #phonecartbtn {
        display: block;
    }

    #icon {
        display: block;
    }
}