@{
    Layout = null;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LayoutAdmin</title>
    <style>
        .dropbtn {
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            margin-top: 16px;
            position: absolute;
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: gray;
                    color: White;
                }

        .dropdown:hover .dropdown-content {
            display: block;
            color: black;
        }

    </style>
</head>
<body>
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left bg-light" style="display:none" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large"
                onclick="w3_close()">
                <i class="fa fa-bars"></i>
        </button>
        <a style="text-decoration:none;" href="/Product/ProductList" class="w3-bar-item w3-button">Ürünler</a>
        <a style="text-decoration:none;" href="/Category/CategoryList" class="w3-bar-item w3-button">Kategoriler</a>
        <a style="text-decoration:none;" href="/MainCategory/MainCategoryList" class="w3-bar-item w3-button">Genel Kategoriler</a>
        <a style="text-decoration:none;" href="/Brand/BrandList" class="w3-bar-item w3-button">Markalar</a>
        <a style="text-decoration:none;" href="/Cart/CartList" class="w3-bar-item w3-button">Sepetler</a>
        <a style="text-decoration:none;" href="/Comment/CommentList" class="w3-bar-item w3-button">Yorumlar</a>
        <a style="text-decoration:none;" href="/User/UserList" class="w3-bar-item w3-button">Kullanıcılar</a>
    </div>
    <div id="main">

        <div class="w3-teal bg-info">
            <div class="row">
                <div class="col-6">
                    <button id="openNav" style="text-align:start" class="w3-button w3-teal w3-xlarge bg-info" onclick="w3_open()">&#9776;</button>
                </div>
                <div style="text-align:end;padding-right:30px;padding-top:10px;border-radius:10px;" class="col-6">
                    <div class="dropdown">
                        <a href="/User/UserPage/" class="dropbtn text-white" style="text-decoration:none;">
                            @await Html.PartialAsync("~/Views/User/GetUserName.cshtml")
                        </a>
                        <div class="dropdown-content bg-light">
                            <a class="text-center" href="/UserProfile/Profile/@ViewBag.Id">Profilim</a>
                            <a class="text-center" href="/Cart/MyCart">Sepetim</a>
                            <a class="text-center" href="/User/UserOrders">Siparişlerim</a>
                            <a class="text-center" href="/Comment/UserComments/@ViewBag.Id">Yorumlarım</a>
                            <a class="text-center" href="/UserAddress/Address/@ViewBag.Id">Adreslerim</a>
                        </div>
                    </div>
                    <a class="text-white" style="text-decoration:none" href="/User/UserLogout/">Çıkış Yap</a>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">@RenderBody()</div>
    <script>
        function w3_open() {
            document.getElementById("main").style.marginLeft = "15%";
            document.getElementById("mySidebar").style.width = "15%";
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("openNav").style.display = 'none';
        }
        function w3_close() {
            document.getElementById("main").style.marginLeft = "0%";
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("openNav").style.display = "inline-block";
        }
    </script>
</body>
</html>