
@using Entity.Entities
@model List<MainCategory>
@{
    ViewData["Title"] = "CategoryList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (!Model.Any())
{
    <div>
        Kategori Bulunamadı
    </div>
    <div class="text-center">
        @await Html.PartialAsync("~/Views/Category/CategoryAdd.cshtml")
    </div>
}
@if (Model.Any())
{
    <table>
        <tr>
            <th>ID</th>
            <th>Adı</th>
            <th>Statüsü</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.MainCategoryName</td>
                <td>

                    @if (item.Statu == true)
                    {
                        <a id="statu" style="padding:2px 12px;border-radius:80%" class="@item.Statu btn-success">
                        </a>
                    }
                    else
                    {
                        <a id="statu" style="padding:2px 12px;border-radius:80%" class="@item.Statu btn-danger">
                        </a>
                    }
                </td>
                <td>
                    <a class="btn-warning text-white" style="border-radius: 5px;padding: 4px 10px;" href="/Category/EditCategory/@item.Id">
                        <i class="fa fa-refresh"></i>
                    </a>
                </td>
                <td>
                    <a class="btn-primary" style="border-radius: 5px;padding: 4px 10px;" href="/Category/CategoryDelete/@item.Id">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
    <div class="text-center">
        @await Html.PartialAsync("~/Views/Category/CategoryAdd.cshtml")
    </div>
}


