
@{
    ViewData["Title"] = "Kullanıcı Giriş Sayfası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top: 100px" class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark text-white text-center">
                    <h2>Giriş Yap</h2>
                </div>
                <div class="card-body">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="UserName">Kullanıcı Adı</label>
                            <input type="text" class="form-control" id="UserName" name="UserName" placeholder="Kullanıcı Adınızı Giriniz." required>
                        </div>
                        <div class="form-group">
                            <label for="Password">Parola</label>
                            <input type="password" class="form-control" id="Password" name="Password" placeholder="Parolanızı Giriniz." required>
                        </div>
                        <center>
                            <button type="submit" class="btn btn-success mt-2">Giriş Yap</button>
                        </center>
                    </form>
                </div>
            </div>
            <div class="text-center mt-3">
                <div class="alert alert-dark">
                        <div class="mt-2">
                            <h5>
                            Üye değil misiniz ?
                            </h5>
                        </div>
                        <div>
                        <h6>Hemen üye olun, güvenilir alışverişin keyfini çıkarın!</h6>
                        </div>
                    <a class="btn btn-danger mt-1" href="/User/UserRegister/">Yeni Üyelik</a>
                </div>
            </div>
        </div>
    </div>
</div>

